DATABASE_URL=postgresql://your_user:your_password@db:5432/your_database
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_database

OPENROUTER_API_KEY=your_openrouter_api_key
EXTRACTION_MODEL=some-model

GROQ_API_KEY=your_groq_api_key
RAG_MODEL_1=some-model
RAG_MODEL_2=some-model
RAG_MODEL_3=some-model

PINECONE_API_KEY=your_pinecone_api_key
PINECONE_INDEX_NAME=your_pinecone_index_name

ADMIN_PASSWORD=your_admin_password
