fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
python-multipart
openai
alembic
pymupdf
pillow
python-docx
pdf2image
pytesseract
opencv-python
numpy
sentence-transformers
pinecone